.add-post-btn {
  position: absolute;
  bottom: -30px;
  right: 20px;
  margin-bottom: 10px;
}

.post-list-item.mat-list-item {
  height: 72px;
  & * {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
